{% extends 'base.html' %}
{% block content %}

<br />
{% if ticker %}
	{{ticker}}
{% endif %}

{% if api %}
	{% if api == 'Error...' %}
		There was a problem with your ticker symbol, please try again...
	{% else %}
		<h1>{{api.companyName}}</h1><br/>
		Price: ${{api.latestPrice}}<br/>
		Previous Close: {{api.previousClose}}<br/>
		Market Cap: {{api.marketCap}}<br/>
		YTD: {{api.ytdChange}}<br/>
		52WK Hight: {{api.week52High}}<br/>
		52WK Low: {{api.week52Low}}<br/>

		
	{% endif %}
{% else %}

{% endif %}

{% endblock %}